<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaozheng Zhu Hobby</title>
    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul class="nav-list">  
                <li class="nav-item" >
                    <a href="index.html">Home</a>
                </li>                
                <li class="nav-item" >
                    <a href="Projects.html">Projects</a>
                </li>
                <li class="nav-item" >
                    <a href="Education.html">Education</a>
                </li>
                <li class="nav-item" >
                    <a href="Hobby.html">Hobby</a>
                </li>
                <li class="nav-item" >
                    <a href="Blog.html">Blog</a> 
                </li>
                <li class="nav-item" >
                    <a href="Contact.html">Contact</a> 
                </li>
               
            </ul>
        </nav>
        <div id="'logo-container">
            <img id="logo" src="./Pictures/photocz.jpeg" alt="Chaozheng's_Picture">
            <h1 id="logo-text">My Hobbies</h1>
        </div>

    </header>
    
    <main>
            
            <p><img id= picture_display src="./Pictures/Juicy.jpg" alt="Juicy's_Picture">  </p>
            <section>
                
                <article>
                    <p>
                        Currently, I'm a software development student at Boston University where I am getting solid programming knowledge.
                    </p><p>
                        Previously, I was a demand planning manager at Onsemi supporting semiconductors supply chain management.
                     </p><p>    
                        When I am not working, I enjoy going to the beach, being in nature and spending time with my puppy Juicy and cat Kubda.
                        </p>
                </article>
            </section>
           
            <h1>Guess How Many Years Apart Between 2 Pictures</h1>

            <div id="app">
              <img :src="pictureHover" @mouseover="hover = true" @mouseleave="hover = false"/>
              <button @click="loadNextImages" class="gold-button">{{ isNextButton ? 'Next' : 'Back' }}</button>
              <label for="yearsApart">2 Pictures Years Apart :</label>
              <input type="number" id="yearsApart" v-model="yearsApart" />
              <button @click="checkYearsApart">Check</button>
              <p v-if="yearsApartCorrect">Correct!</p>
              <p v-else>Incorrect. Try again.</p>
            </div>
          
          
          <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
          <script src="app.js"></script>

    </main>

    <footer>
        &copy; 2023. Chaozheng Zhu.
    </footer>
</body>

</html>